:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

#server-table > .table-striped thead th {
    background-color: #34476e;
}

#server-table > .table-striped tbody tr:nth-of-type(odd) {
    background-color: #34476e;
}

#server-listing-placeholder > td {
    background-color: #24314d;
    user-select: none;
    -webkit-user-select: none;
}

#server-table > .table-striped tbody tr:nth-of-type(even),
th {
    background-color: #24314d;
}

#server-table {
    font-size: 14pt;
    opacity: 0.9;
}

#of-intro-text {
    text-shadow: 1px 1px 8px #4349c4;
    color: #4a76b7;
    font-size: 18px;
}

img {
    pointer-events: none;
}

:root {
    --gray-dark: #343a40;
    --primary: #6699ff;
    --secondary: #384e7a;
    --dark: #384e7a;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    user-select: none;
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#of-about-button-div {
    position: fixed;
    bottom: 4px;
    right: 8px;
}

#of-config-button-div {
    position: fixed;
    bottom: 4px;
    left: 8px;
}

.btn-primary {
    background-image: url("../../assets/img/btn-primary-bg.png");
    background-repeat: repeat;
}

.btn-success {
    background-image: url("../../assets/img/btn-success-bg.png");
    background-repeat: repeat;
}

.btn-danger {
    background-image: url("../../assets/img/btn-danger-bg.png");
    background-repeat: repeat;
}

.btn-warning {
    background-image: url("../../assets/img/btn-warning-bg.png");
    background-repeat: repeat;
}

#of-aboutmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-addservermodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-editservermodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-deleteservermodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-restoreserversmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-editcacheconfigmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-editconfigmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-addversionmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-editversionmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-deleteversionmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

#of-restoreversionsmodal > .modal-dialog > .modal-content {
    background-color: #093363;
    border-color: #6699ff;
}

.form-control,
.form-control:focus {
    border-color: #0099ff;
    background-color: #000;
    color: #fff;
}

select {
    border-color: #0099ff;
    background-color: #000;
    color: #fff;
}

.modal {
    overflow-y: auto;
}

.invalidinput {
    border-color: #ff0000;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

button > i {
    pointer-events: none;
}

#of-logo {
    opacity: 0.9;
}

#server-table .server-listing-entry {
    cursor: pointer;
}

#client {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    clear: both;
}
