:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

#server-table > .table-striped thead th {
  background-color: #34476E;
}

#server-table > .table-striped tbody tr:nth-of-type(odd) {
  background-color: #34476E;
}

#server-listing-placeholder > td {
  background-color: #24314D;
  user-select: none;
  -webkit-user-select: none;
}

#server-table > .table-striped tbody tr:nth-of-type(even), th {
  background-color: #24314D;
}

#server-table {
  font-size: 14pt;
  opacity: 0.9;
}

#of-intro-text {
  text-shadow: 1px 1px 8px #4349C4;
  color: #4A76B7;
  font-size: 18px;
}

img {
  pointer-events: none;
}

:root {
  --gray-dark: #343a40;
  --primary: #6699FF;
  --secondary: #384E7A;
  --dark: #384E7A;
}

body {
  user-select: none;
  background-color: #000;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#of-versionnumber {
  position: fixed;
  bottom: 4px;
  right: 8px;
}

.btn-primary {
  background-image: url("../../assets/img/btn-primary-bg.png");
  background-repeat: repeat;
}

.btn-success {
  background-image: url("../../assets/img/btn-success-bg.png");
  background-repeat: repeat;
}

.btn-danger {
  background-image: url("../../assets/img/btn-danger-bg.png");
  background-repeat: repeat;
}

#of-aboutmodal > .modal-dialog > .modal-content {
  background-color: #093363;
  border-color: #6699FF;
}

#of-addservermodal > .modal-dialog > .modal-content {
  background-color: #093363;
  border-color: #6699FF;
}

#of-deleteservermodal > .modal-dialog > .modal-content {
  background-color: #093363;
  border-color: #6699FF;
}

.form-control, .form-control:focus {
  border-color: #0099FF;
  background-color: #000;
  color: #fff;
}

select {
  border-color: #0099FF;
  background-color: #000;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

button > i {
  pointer-events: none;
}

#of-logo {
  opacity: 0.9;
}

#server-table .server-listing-entry {
  cursor: pointer;
}

